extends ../layouts/boilerplates.pug

block content
    h1 login page
    button#facebook-login Login with Facebook
    h2#success-message you have successfully login! 

    button.btn.btn-primary.mt-5#profile-display display your profile name
    h3#login-message

