extends ../layouts/boilerplates.pug

block content
    link(rel="stylesheet" type="text/css" href="/css/product.css")
    .row#product-container

    .row#detail-container




        //- fetch the query string   
        script(type="module" src="/js/demo/product/product.js")   




