#facebook-login {
  background-color: #4267b2;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.col-5.offset-4.mx-auto {
  width: 500px;
}

@media only screen and (max-width: 650px) {
  .col-5.offset-4.mx-auto {
    width: 80%;
  }
}
