/* Navbar */
.navbar {
  height: 80px;
}

.navbar-nav {
  font-size: 1.25em;
}

.navbar-nav > * {
  margin-right: 20px;
}


.navbar-brand {
  width: 150px;
  font-size: 3em;
}

.navbar-nav .nav-link { 
  color: #555;
}

/* Search Bar */
#search-input {
  border-radius: 20px;
  border: none;
  box-shadow: none;
  background-color: #f5f5f5;
  color: #555;
}

.btn-outline-success {
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  background-color: #212529;
}

.btn-outline-success:hover {
  background-color: white;
  color: black;
}

/* User Menu */
.dropdown-menu {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

.dropdown-menu a {
  color: wheat;
}

.dropdown-menu a:hover {
  color: black;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  color: white;
  background-color: black;
  border-color: black;
}

/* Collapsed Navbar */
.navbar-collapse {
  background-color: #212529;
}

.navbar-collapse a {
  color: white;
}

nav.navbar {
  z-index: 1;
}

/* Style the cart icon */
.header__link-icon-cart img {
  height: 30px;
  margin-right: 6px;
  margin-top: 6px;
}

/* Style the cart number */
.header__link-icon-cart-number {
  display: inline-block;
  position: absolute;
  background-color: #ff6f61;
  color: white;
  font-size: 12px;
  line-height: 1;
  padding: 2px 4px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
