extends ../layouts/boilerplates.pug



block item
    .row 
        h2.text-center Create Item for Product #{productId}
        .col-6.offset-3
            form#create-form(action=`/api/products/createItem/${productId}` method='POST')

                .form-group.mb-3 
                    label(for='color') color
                    select#color.form-control(type='text' name='color' required)
                        option(value="") select a color
                        option(value=1) Red
                        option(value=2) Yellow
                        option(value=3) Blue
                        option(value=4) Green
                        option(value=5) Purple
                        option(value=6) Orange
                        option(value=7) Black

                .form-group.mb-3 
                    label(for='size') size
                    select#size.form-control(type='text' name='size' required)
                        option(value="") select a size
                        option(value='S') S
                        option(value='M') M
                        option(value='L') L 
                        option(value='XL') XL

                .form-group.mb-3 
                    label(for='stock_qty') stock_qty
                    input#stock_qty.form-control(type='number' name='stock_qty' required)

                .form-group.mb-3 
                    label(for='price') price
                    input#price.form-control(type='number' step="0.01"
name='price' required)



                .mt-2.mb-5 
                    button.btn.btn-primary#submit-button(type='submit') Submit
