extends ../layouts/boilerplates.pug

block content
    .row
    
    //- fetch the query string
    script.
        const urlParams = new URLSearchParams(window.location.search);
        const category = urlParams.get('category');
    script(src="https://unpkg.com/axios/dist/axios.min.js")      
    script(type="text/javascript" src="/js/navbar/navbar.js")
    script(type="text/javascript" src="/js/index/index.js")  


