extends ../layouts/boilerplates.pug

block content
    link(rel="stylesheet" type="text/css" href="/css/index.css")

    .div
        //- Campaign carousel
        include ../partials/carousel.pug
        //- product lists
        include ../partials/productlist.pug


    //- fetch the query string
    script(src="https://unpkg.com/axios/dist/axios.min.js")     
    script( type="module" src="/js/demo/index/index.js")   




