extends ../layouts/boilerplates.pug

block content
    h1 Login Options
        p Please choose a login option:
        ul
        li
            a(href="/login/facebook") Login with Facebook
        li
            a(href="/login/native") Login with Email and Password
        li
            a(href="/signup") Sign up for a new account