extends ../layouts/boilerplates.pug

block content
    link(rel="stylesheet" type="text/css" href="/css/loginPage.css")

    .row
        .col-12.text-center
            h2 Sign Up
        .col-5.offset-4.mx-auto
            form#signup.validated-form(action='/user/signup' method='POST')
                // username
                .mb-3
                    label.form-label(for='username') Username
                    input#username.form-control(type='text' name='user[username]' autofocus='' required='')
                // email
                .mb-3
                    label.form-label(for='email') Email
                    input#email.form-control(type='email' name='user[email]' required='')
                // password
                .mb-3
                    label.form-label(for='password') Password
                    input#password.form-control(type='password' name='user[password]' required='')
                button.mt-3.btn.btn-outline-success.col-12.mt-2 Sign up

    script(src="/js/demo/profile/signup.js")
