extends ../layouts/boilerplates.pug

block content
  .container.mt-5
    h1 Thank You for Your Purchase!
    p Your order has been successfully placed and will be shipped within 1-2 business days. You will receive a confirmation email shortly with your order details and tracking information.
    p Thank you for choosing our store. If you have any questions or concerns, please don't hesitate to contact us.
