extends ../layouts/boilerplates.pug

block content

        h1 Welcome to home page
        a.btn.btn-primary(href=`/admin/product`) Create Product 
        .row
        each product, i in products
            .col-md-4
                .card.mt-2
                    .card-body 
                        h4.card-title 
                            a.link-dark(href=`/admin/item/${product.id}`)= product.title 