extends ../layouts/boilerplates.pug

block content
    body
        #card-fields
        .card-number
        .card-expiration-date
        .card-ccv
        button#checkout-button Checkout



        script(type="text/javascript" src="/js/checkout.js")
